<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Inverter Monitoring</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <!-- DevExtreme themes -->
    <link rel="stylesheet" href="/static/content/dx.common.css">
    <link rel="stylesheet" href="/static/content/dx.light.css">

    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>

<body>
    <div id="toolbar"></div>
    <div id="drawer">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; {{ year }} - Inverter Monitoring</p>
    </footer>

    <script type="text/javascript" src="/static/scripts/jquery-3.5.1.min.js"></script>
    <!-- DevExtreme library -->
    <script type="text/javascript" src="/static/scripts/dx.all.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/socket.io.js"></script>
    <script src="/static/scripts/layout.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>