/* body {
    padding-top: 50px;
    padding-bottom: 20px;
} */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container {
    min-height: 530px;
    position: relative;
}

#toolbar {
    background-color: rgba(191, 191, 191, .15);
    padding: 5px 10px;
}
 
.dx-toolbar-before {
    width: 36px;
    padding-right: 0px !important;
    text-align: center;
}
 
.dx-button {
    background-color: rgba(191, 191, 191, -0.15);
    border: none;
}

.dx-item-content.dx-menu-item-content{
    padding: 12px;
}

.dx-menu .dx-menu-item-has-text.dx-menu-item-has-icon .dx-icon {
    margin: 0px 5px;
}